include _mixins.pug

doctype html
html
  head
    title AnTrello
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel='stylesheet', href='/stylesheets/vendor/jquery-ui/base/jquery-ui.min.css')
    link(rel='stylesheet', href='/stylesheets/styles.css')
    +js_scripts("vendor/all")
    +js_scripts("handlebars_templates")
  body
    header
      form
        input(type="text")
        span.search
          i.material-icons search
        span.close
          i.material-icons close
      h1 AnTrello
      #notif
        label(for="notif_check")
          i.material-icons notifications_none
        input#notif_check(type="checkbox")
        .modal
          h3 Notifications
            label.close(for="notif_check")
              i.material-icons.md-16 close
          hr
          section No Notifications
      section
        .menu
          i.material-icons.md-16 more_horiz
          u Show Menu
    section#menu.modal    
    main
      .container
        ul#lists

        .add-list
          form(action="/lists" method="post")
            label
              input(type="text" placeholder="Add a list..." name="list_name")
            div.form-controls
              input(type="submit" value="Save")
              a.close(href="#")
                i.material-icons.md-30 close


    block content
    +js_scripts("app")
    +js_scripts("helpers/collection_helpers", "view_helpers")
    +js_scripts("models/list", "card", "label", "comment", "activity")
    +js_scripts("collections/lists", "cards", "list_cards", "labels", "card_labels", "comments", "activities", "card_activities")
    +js_scripts("views/header", "search_results", "lists", "list_cards", "card", "list_form", "card_form", "card_quick_edit", "menu")
    +js_scripts("views/list_actions/list_actions", "move_list", "copy_list", "move_cards")
    +js_scripts("views/card_actions/labels", "edit_label", "due_date", "move_card", "copy_card")

    script.
      App.lists = new Lists(!{JSON.stringify(data.lists)});
      App.cards = new Cards(!{JSON.stringify(data.cards)});
      App.labels = new Labels(!{JSON.stringify(data.labels)});
      App.addCommentsToCards(!{JSON.stringify(data.comments)});
      App.activities = new Activities(!{JSON.stringify(data.activities)});
      App.indexView();

    +js_scripts("router")