<div class="overlay"></div>
<div class="container">
  <i class="material-icons md-30 close">close</i>
  <div class="details">
    <section class="name">
      <header>
        <i class="material-icons">web_asset</i>
        <textarea class="title formated" rows="1">{{name}}</textarea>
      </header>
      <p>in list <a href="#">{{listName}}</a></p>
    </section>
    <div class="attributes">
      {{#if labels}}
      <section class="labels">
        <h3>Labels</h3>
        <ul class="labels">
          {{#each labels}}
          <li class="label" style="background: {{color}};">{{name}}</li>
          {{/each}}
        </ul>
      </section>
      {{/if}}
      {{#if due_date}}
      <section class="date">
        <h3>Due Date</h3>
        <p><a class="due-date" href="#">{{format_date due_date}}</a></p>
      </section>
      {{/if}}
      <section class="description">
        {{#if description}}
        <h3>Description</h3>
        <a href="#"><span>Edit</span>
        <p>{{description}}<p></a>
        {{else}}
        <a href="#"><i class="material-icons md-16">subject</i><span>Edit the description...</span></a>
        {{/if}}
        <form>
          <textarea>{{description}}</textarea>
          <div class="form-controls">
            <input type="submit" value="Save">
            <a class="close" href="#"><i class="material-icons md-30">close</i></a>
          </div>
        </form>
      </section>
    </div>
    <section class="add-comment">
      <header>
        <i class="material-icons">comment</i>
        <h1>Add Comment</h1>
      </header>
      <form action="/comments" method="post">
        <textarea class="comment-input" placeholder="Write a comment..."></textarea>
        <input type="submit" value="Send">
      </form>
    </section>
    <section class="activity">
      <header>
        <i class="material-icons">list</i>
        <h1>Activity</h1>
      </header>
      <ul class="activities">
        {{#each activities}}
          <li></li>
        {{/each}}
      </ul>
    </section>
  </div>
  <aside>
    <section class="add">
      <h1>Add</h1>
      <ul class="actions">
        <li class="action labels">Labels</li>
        <li class="action due-date">Due Date</li>
      </ul>
    </section>
    <section class="card-actions">
      <h1>Actions</h1>
      <ul class="actions">
        <li class="action move-card">Move</li>
        <li class="action copy-card">Copy</li>
        <li class="action subscribe">Subscribe</li>
        <li class="action archive">Archive</li>
      </ul>
    </section>
  </aside>
</div>
