<h3>
  Copy Card
  <span class="close"><i class="material-icons md-16">close</i></span>
</h3>
<hr/>
<form>
  <dl class="card-name">
    <dt>
      <label>Title</label>
    </dt>
    <dd>
      <textarea>{{name}}</textarea>
    </dd>
  </dl>
  {{#if labelsComments}}
  <dl class="labels-comments">
    <dt>Keep...</dt>
    {{#with labelsComments}}
    {{#if labelsCount}}
    <dd>
      <label>
        <input type="checkbox" name="labels">
        Labels ({{labelsCount}})
      </label>
    </dd>
    {{/if}}
    {{#if commentsCount}}
    <dd>
      <label>
        <input type="checkbox" name="comments">
        Comments ({{commentsCount}})
      </label>
    </dd>
    {{/if}}
    {{/with}}
    </dd>
  </dl>
  {{/if}}
  <dl class="list-name">
    <dt>
      <label>
        <h5>List</h5>
        <p>{{currentList}}</p>
      </label>
    </dt>
    <dd>
      <select>
        {{#each lists}}
          {{#if current}}
            <option data-id="{{id}}" value="{{current}}" selected>{{current}} (current)</option>
          {{else}}
            <option data-id="{{id}}" value="{{name}}">{{name}}</option>
          {{/if}}
        {{/each}}
      </select>
    </dd>
  </dl>
  <dl class="card-position">
    <dt>
      <label>
        <h5>Position</h5>
        <p>{{currentPosition}}</p>
      </label>
    </dt>
    <dd>
      <select>
        {{> card_positions}}
      </select>
    </dd>
  </dl>
  <input type="submit" value="Create Card">
</form>
<div class="overlay"></div>